<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean id="helloWorld" class="Spring.HelloWorld" scope="prototype">
        <property name="message" value="ABC!"/>
        <property name="message2" value="ABC2!"/>
    </bean>
    <bean id="zadanie1" class="Spring.Zadanie1" scope="prototype">
        <property name="zmienna1" value="1"/>
        <property name="zmienna2" value="2"/>
    </bean>

    <bean id="singleton" class="Spring.SpringSingleton" scope="singleton">

    </bean>

    <bean id="initDestroy" class="Spring.InitDestroyBean" init-method="init" destroy-method="destroy">
        <property name="message" value="Hellllo :)"></property>
    </bean>

</beans>

