<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean id="helloWorld" class="Spring.HelloWorld" scope="prototype">
        <property name="message" value="ABC!"/>
        <property name="message2" value="ABC2!"/>
    </bean>
    <bean id="zadanie1" class="Spring.Zadanie1" scope="prototype">
        <property name="zmienna1" value="1"/>
        <property name="zmienna2" value="2"/>
    </bean>

    <bean id="singleton" class="Spring.SpringSingleton" scope="singleton">

    </bean>

    <bean id="initDestroy" class="Spring.InitDestroyBean" init-method="init" destroy-method="destroy">
        <property name="message" value="Hellllo :)"></property>
    </bean>

    <bean id="zadanie4"   abstract="true">
        <property name="message1" value="Heello word template1"></property>
        <property name="message2" value="Heello word template2"></property>
        <property name="message3" value="Heello word template3"></property>
    </bean>

    <bean id="beanForTemplate" class="Spring.BeanForTemplate" parent="zadanie4">
        <property name="message1" value="Zmieniamy tekst"></property>
        <property name="message2" value="opis">           </property>
    </bean>

    <bean id="komputer" class="Spring.Komputer">
        <property name="procesor" >
            <bean id="procesor" class="Spring.Procesor"></bean>
        </property>
    </bean>

    <bean id="car" class="Spring.Car">
        <constructor-arg index="0" ref="engin"></constructor-arg>
    </bean>

    <bean id="engin" class="Spring.Engine">

    </bean>

</beans>

